{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title></title>
    {% endblock title %}
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="{% static 'ProductLinkHubApp/css/styles.css' %}" rel="stylesheet"/>

</head>

<body>

<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="logo" src="/media/ProductLinkHubApp/media/logo/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <form class="form-inline my-2 my-lg-0 mx-auto input-group w-50" action="" method="get">
                <div class="input-group w-100">
                    <input class="form-control" type="search" name="q" placeholder="Buscar Productos" aria-label="Buscar">
                    <div class="input-group-append">
                        <button class="btn btn-outline-light btn-buscar" type="submit">Buscar</button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav categorias-menu">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Categorías</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        {% for categoria in categorias %}          
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" role="button">{{categoria}}</a>
                                <ul class="dropdown-menu">
                                        {% for subcategoria in categoria.subcategorias_set.all %}
                                            <li><a class="dropdown-item" href="{{subcategoria.url_texto}}{{subcategoria.pk}}">{{subcategoria}}</a></li>
                                        {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


    {% block content %}

    {% endblock content %}

    <section class="section" style="background-color: #303b47;">
        <div class="container">
            <div class="row">
                {% for subcategoria in subcategoriaseccion %}
                    <div class="col-md-2">
                        <div class="category-links text-center mb-4">
                            <a href="{{subcategoria.url_texto}}{{subcategoria.pk}}" class="d-block my-3">{{subcategoria}}</a>
                        </div>
                    </div>
                {% endfor %}
                <!-- Agrega más categorías utilizando la misma estructura -->
            </div>
        </div>
    </section>
    
    
    
    
    <!-- Pie de página -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h5>Acerca de</h5>
                        <p>
                            Bienvenido a nuestra plataforma de ventas de productos afiliados de Amazon. Aquí en ProductLinkHub, nos apasiona brindarte una experiencia de compra excepcional al ofrecerte una cuidadosa selección de productos de alta calidad directamente desde Amazon.
                        </p>
                        <p>
                            Nuestra misión es simplificar tu proceso de búsqueda y compra al proporcionarte reseñas detalladas y recomendaciones objetivas sobre una amplia gama de productos. Ya sea que estés buscando electrónicos de última generación, artículos para el hogar o productos de estilo de vida, estamos comprometidos a ser tu destino confiable para encontrar las mejores ofertas en línea.
                        </p>
                        <p>
                            Explora nuestra colección y permítenos ser tu socio en la búsqueda de productos que enriquezcan tu vida. ¡Gracias por elegirnos!
                        </p>

                </div>
                <div class="col-md-4">
                    <h5>Contacte con nosotros</h5>
                    <ul class="contact-info">
                        <li>
                            <i class="fa fa-envelope"></i> <a href="mailto:info@example.com" style="color: #007bff;">info@example.com</a>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i> <a href="tel:+1234567890" style="color: #007bff;">123-456-7890</a>
                        </li>
                    </ul>

                    <div class="social-icons">
                        <a href="#" target="_blank" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" target="_blank" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank" class="social-icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>        
            </div>
        </div>
    </footer>

    <!-- Enlace a Bootstrap JS y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <!-- Enlaces de Bootstrap y jQuery desde los CDNs -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="{% static 'ProductLinkHubApp/js/scripts.js' %}"></script>
    <!-- Agrega el siguiente script al final del cuerpo (antes de cerrar la etiqueta </body>) -->

</body>

</html>
