{% extends "ProductLinkHubApp/base.html" %}

{% block title %}
    <title>{{categoria}}</title>
{% endblock title %}

{% block content %}    
    <div class="container mt-5" style="margin-top: 90px !important;">
        <h2 class="mb-4">Más Vendidos</h2>
        <div class="row">
            {% for p in productos %}
                <!-- Producto 1 -->
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body" style="text-align: center;">
                            <!-- Inserta aquí el contenido HTML proporcionado por Amazon -->
                            {{p.product|safe}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <!-- Paginación -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-4">
        {% if productos.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ productos.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Anterior</span>
                </a>
            </li>
        {% endif %}

        {% if productos.number > 3 %}
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            {% if productos.number > 4 %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
        {% endif %}

        {% for num in productos.paginator.page_range %}
            {% if num > productos.number|add:'-3' and num < productos.number|add:'3' %}
                {% if num == productos.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if productos.paginator.num_pages > productos.number|add:'3' %}
            {% if productos.paginator.num_pages > productos.number|add:'4' %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page={{ productos.paginator.num_pages }}">{{ productos.paginator.num_pages }}</a></li>
        {% endif %}

        {% if productos.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ productos.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">Siguiente &raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

    </div>
{% endblock content %}
